.welcome-area{
    background-image: url(img/home-bg.jpg);
    background-size: cover;
    height: 60vh;
    color : white;
}
.intro-area {
    background-image: linear-gradient(to left, #FF9F4A,#FF3C83);
}
.main-area .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}